{% extends 'adminLayout.html.twig' %}

{% block title %}Olympic Nantais || Ajouter un nouveau Partenaire{% endblock %}

{% block content %}

    <section>
        <div class="row">

            <h1>Ajouter une nouveau partenaire :</h1>
            <form method="POST">
                <div class="form-row mb-4">
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control {% if partnerError is not null %}is-invalid{% endif %}"
                               id="partner" name="partner" placeholder="Nouveau partenaire"
                               aria-describedby="inputNouveauPartenaire" required>
                        <div class="invalid-feedback">
                            {{ partnerError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control {% if linkPartnerError is not null %}is-invalid{% endif %}"
                               id="imagePartner" name="imagePartner" placeholder="Logo partenaire"
                               aria-describedby="inputUrlLogoNouveauPartenaire" required>
                        <div class="invalid-feedback">
                            {{ linkPartnerError }}
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <input type="text" class="form-control {% if linkPartnerError is not null %}is-invalid{% endif %}"
                               id="linkPartner" name="linkPartner" placeholder="Url partenaire"
                               aria-describedby="inputUrlLienNouveauPartenaire" required>
                        <div class="invalid-feedback">
                            {{ linkPartnerError }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Confirmer</button>
                </div>
            </form>

        </div>
    </section>

    <section>
        <button type="submit" class="btn btn-dark">
            <a class="text-white" href="/partners/list"> << Retour</a>
        </button>
    </section>

{% endblock %}