<nav id="navbar-aside" class="navbar navbar-expand-md navbar-dark bg-secondary text-center justify-content-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/list">
                    Dashboard
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="/society/list">
                    Gestion de la Société
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="/site/presentation">Gestion du Site</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/navbar/list">
                            Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Pages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/partners/list">
                            Partenaires
                        </a>
                    </li>
                </ul>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="">Gestion des Evènements</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/events/list">
                            Evenements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories/list">
                            Catégories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/partners/list">
                            Artistes
                        </a>
                    </li>
                </ul>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="/comments/list">
                    Gestion des Messages
                </a>
            </li>
            <hr>
            {% if session.role == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/list">
                        Gestion des Utilisateurs
                    </a>
                </li>
                <hr>
            {% endif %}
        </ul>
</nav>