<div class="row">
    <a class="mx-auto" href="/">
        {% if society.logo is not empty %}
            <img src="{{ society.logo}}" width="150"  class="logo" alt="Logo {{ society.name }}">
        {% endif %}
    </a>
</div>