{% extends 'adminLayout.html.twig' %}

{% block title %}Olympic Nantais || Liste des catégories{% endblock %}

{% block content %}

<section id="societyShow">
    <div class="row">

        <h1>Gestion de la société :</h1>

        <table class="table col-12">
            <thead class="table-striped">
            <tr class="bg-warning">
                <th scope="col">Nom de la société</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% for society in companies %}
                    <td>{{ society.name }}</td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a class="text-white" href="/society/edit/{{ society.id }}">Mise à jour</a>
                        </button></td>
                    <td>
                        <button type="button" class="btn btn-danger"
                                onclick="if(window.confirm ('Voulez-vous vraiment supprimer cet évènement ?'))
                                    {return true;}else{return false;}">
                            <a class="text-white" href="/society/delete/{{ society.id }}">Supprimer</a>
                        </button>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}