{% extends 'adminLogin.html.twig' %}

{% block title %}Premiere Connexion{% endblock %}

{% block content %}

    <section id="firstConnexion" class="py-3">
        <div class="row">

            <div id="blockFirstConnexion" class="mx-auto">
                <h1>Premiere connexion</h1>
                <p>Vous devez d'abord renseigner les informations de votre société avant de pouvoir accéder à cette page !</p>
                <p>Utilisez les accès que vous trouverez sur le document Readme.md</p>
                <a href="/admin/login" class="btn btn-outline-primary btn-lg">Connexion</a>
            </div>

        </div>
    </section>

{% endblock %}